body {
  margin:0;
  padding:0;
}

body, legend, select, input, textarea, th, td {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /** font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif; **/
  font-size: 14px;
  color: #555;
}

#home_login {
  background: lightyellow;
  border: 1px solid tan;
  padding: 14px;
}

#application {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto;
  grid-template-areas:
    "column-left column"
    "footer footer";
}

#header {
  grid-area: header;
  background: #eee;
}

.application_nav {}

.application_header {
  grid-area: application-header;
  background: dimgrey;
  color: white;
}

#column-left {
  grid-area: column-left;
  padding: 26px;
}

#column {
  grid-area: column;
  padding: 26px;
}

.application_footer {
  grid-area: application-footer;
  background: #eee;
  font-style: italic;
  padding: 14px 14px 26px 14px;
}

#footer {
  grid-area: footer;
  background: black;
  color: white;
}

#footer .body {
  font-size: 11px;
}

#footer a {
  color: pink;
}

.l-gutter {
  grid-area: l-gutter;
  background: #eee;
}

.r-gutter {
  grid-area: r-gutter;
  background: #eee;
}

a {
  color: #0088eb;
}

.home_login {
  background: lightyellow;
  border: 1px solid tan;
  padding: 14px;
}

div.section {
  padding: 10px 0 10px 10px;
}

a {
  text-decoration: none;
}

p {
  padding: 3px 0 3px 0;
}

h1 {
  font-size: 30px;
  padding: 0 0 12px 0;
}

h2 {
  font-size: 24px;
  padding: 0 10px 10px 0;
}

table {
  margin: 0 0 0 0;
}

tr {
  vertical-align: top;
  border-bottom: 1px solid tan;
}

th {
  font-weight: bold;
}

th, td {
  padding: 6px 4px 6px 4px;
}

tr.even, li.even { background: #ffffff; }
tr.odd, li.odd  { background: lightcyan; }

td.note {
  font-style: italic;
}

td.time {
  text-align: right;
}

@media (max-width: 800px) {
  #application {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      'column'
      'column-left';
  }
}

input[type=submit] {
  width: 20em;
  height: 2em;
  border: none;
  background-color: #e7e7e7;
}

#footer .body {
  padding: 40px 20px 10px 20px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

ul.content {
  padding: 3px 3px 3px 20px;
}

ul.content li {
  list-style-type: disc;
}
